.header {
  background-color: #0b3157;
  margin-bottom: 20px;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}
.content {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}
.logo {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}
